/* 这里写一些项目级的配置 */

/* 配置字体 */
/* 注意不要在组件内单独配置字体等公共资源文件!!! */
@font-face {
    /* 自定义的字体名称 */
    font-family: 'lovely-bear';
    /* TTF格式的路径和格式 */
    src: url('../ttf/lovely-bear.ttf') format('truetype');
    /* 字体的粗细 */
    font-weight: normal;
    /* 字体的风格 */
    font-style: normal;
}

/* 清除默认样式 */
*{
    margin: 0;
    padding: 0;
}


/* 让界面居中 */
body{
    width: 100vw;
    height: 100vh;
    font-family: 'lovely-bear',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 移动端 */
@media (max-width: 456px) {
    #app {
        width: 100%;
        height: 100%;
    }
}

/* 桌面端 */
@media (min-width: 456px) {
    #app {
        width: 400px;
        height: 100%;
    }
}

