/* 这里写一些公用的 */

/* 清除默认样式 */
*{
    margin: 0;
    padding: 0;
}

/* 让界面居中 */
body{
    /* width: 100vw; */
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 移动端 */
@media (max-width: 456px) {
    #app {
        width: 100%;
        height: 100%;
    }
}

/* 桌面端 */
@media (min-width: 456px) {
    #app {
        width: 400px;
        height: 100%;
    }
}